*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

html{
    font-size: 15px;
}


header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(255,255,255,0.3) 100%, rgba(255,255,255,0.7371323529411764) 100%, rgba(255,255,255,1) 100%), url(../img/slide/microsoft-edge-FAaz8lkinzs-unsplash.jpg);
    background-position:top center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.inner{
    width: 80%;
    margin: 0 auto;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* navigation */
nav{
    width: 100%;
    display: block;
}

nav .navbar{
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

nav .navbar h1{
    font-size: 3rem;
    font-weight: 400;
}

nav .navbar h1 a{
    text-decoration: none;
    color: #fff;
}

nav .navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

nav .navbar .nav-item{
    display: flex;
    justify-content: space-between;
}

nav .navbar ul li{
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 300;
}

nav .navbar ul li a{
    text-decoration: none;
    color: #fff;
}

nav .navbar ul li a:hover{
    color:#38b083;
    border-bottom: 1px solid #38b083;
}

nav .navbar .download{
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #38b083;
    font-size: 1.2rem;
    margin-left: 1rem;
}

nav .navbar .download:hover{
    width: 152px;
    height: 42px;
    transition: 0.3s;
}

nav .navbar .navbar-toggle{
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: 1px solid #38b083;
    float: right;
    display: none;
}

nav .navbar .navbar-toggle .fa{
    color: #38b083;
    font-size: 2rem;
}

@media (max-width:1200px){
    nav .navbar h1{
        font-size: 2.5rem;
    }

    nav .navbar ul li{
        margin: 0 0.8rem;
        font-size: 1.3rem;
    }
}

@media (max-width:992px){
    nav .navbar .navbar-toggle{
        display: block;
    }
    
    nav .navbar  ul{
        display: none;
        position: absolute;
        top: 72px;
        left: 0;
        margin-right: 0;
        background-color: #fff;
        width: 100%;
    }
    nav .navbar ul li a{
        color: #38b083;
        font-size: 1.5rem;
    }

    nav .navbar ul li{
        padding: 0.5rem 0;
        padding-left: 10%;
    }

    .navbar .nav-item button{
        margin-right: 1rem;
    }
}

@media (max-width:767px){
    nav .navbar h1{
        font-size: 2.5rem;
    }

    nav .navbar .download{
        width: 120px;
        height: 35px;
        font-size: 1rem;
    }

    nav .navbar .navbar-toggle{
        width: 2rem;
        height: 2rem; 
    }

    nav .navbar .navbar-toggle .fa{
        font-size: 1.5rem;
    }

    nav .navbar ul li a{
        font-size: 1.2rem;
    }
}

@media (max-width:535px){
    nav .navbar h1{
        font-size: 2rem;
    }

    nav .navbar .download{
        width: 100px;
        height: 30px;
        font-size: 0.8rem;
    }

    nav .navbar .navbar-toggle{
        width: 1.8rem;
        height: 1.8rem; 
    }

    nav .navbar .navbar-toggle .fa{
        font-size: 1.2rem;
    }

    nav .navbar ul li a{
        font-size: 1rem;
    }
}


/* headings */
.headings{
    width: 60%;
    margin-top: 8rem;
}

.headings h1{
    font-size: 5rem;
    font-weight: 400;
    color: #fff;
}

@media (max-width:992px){
    .headings{
        width: 100%;
        margin-top: 6rem;
    }

    .headings h1{
        font-size: 4.5rem;
    }
}

@media (max-width:767px){
    .headings h1{
        font-size: 4rem;
    }
}

@media (max-width:560px){
    .headings h1{
        font-size: 3rem;
    }
}

/* about */
#about{
    margin: 10rem 0;
}

#about .about-img{
    width: 45%;
}

#about .about-img h3{
    font-size: 2rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 5rem;
}

#about .about-img img{
    width: 100%;
}

#about .about-text{
    width: 45%;
}

#about .about-text h4{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8rem;
}

#about .about-text h3{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

#about .about-text p{
    font-size: 1.2rem;
    font-weight: 300;
    color: gray;
    margin-bottom: 1rem;
    line-height: 1.7rem;
}

@media (max-width:992px){
    #about .about-img h3{
        font-size: 1.8rem;
    }
   
    #about .about-text h4{
    font-size: 0.9rem;
    margin-bottom: 5rem;
    }

    #about .about-text h3{
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }

    #about .about-text p{
        font-size: 1rem;
        margin-bottom: 0.5rem;
        line-height: 1.7rem;
    }
}

@media (max-width:767px){
    #about .about-img{
        width: 80%;
        margin: 0 auto;
    }

    #about .about-img h3{
        margin-bottom: 3rem;
        text-align: center;
    }

    #about .about-text{
        width: 80%;
        margin: 0 auto;
    }

    #about .about-text h4{
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    #about .about-text h3{
        text-align: center;
        margin-bottom: 2rem;
    }

    #about .about-text p{
        text-align: center;
    }
}

@media (max-width:535px){
    #about .about-img h3{
        font-size: 1.5rem;
    }

    #about .about-text h3{
        font-size: 1.2rem;
    }

    #about .about-text p{
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        line-height: 1.6rem;
    }
}

/* services */
#service{
    width: 100%;
    background-color: #f5f5f5;
    padding: 8rem 0;
}

#service h3{
    text-align: center;
    font-size: 2.1rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

#service .service-item{
    width: 33.33%;
    text-align: center;
}

#service .service-item img{
    width: 100%;
}

#service .color-blue{
    background-color: #0d6efd;
    padding: 6.33rem 0.76rem;
}

#service .color-yellow{
    background-color: #ffc107;
    padding: 6.33rem 0.76rem;
}

#service .color-green{
    background-color: #198754;
    padding: 6.33rem 0.76rem;
}

#service .color-white{
    background-color: #fff;
    padding: 3.33rem;
}

#service .color-white h4{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#service .color-white p{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
    word-spacing: 0.1rem;
    color: gray;
    margin-bottom: 1.5rem;
}

.my-btn{
    width: 7rem;
    height: 2.5rem;
    border: 0;
    color: #fff;
    background-color: #38b083;
    font-size: 0.9rem;
}

@media (max-width:992px){
    #service .service-item{
        width: 100%;
    }

    #service .service-item img{
        width: 50%;
    }
}

@media (max-width:767px){
    #service h3{
        font-size: 1.8rem;
    }

    #service .color-white h4{
        font-size: 1.5rem;
    }    
    
    #service .color-white p{
        font-size: 0.8rem;
    }

    .my-btn{
        width: 6rem;
        height: 2rem;
        font-size: 0.7rem;
    }
}


/* pricing */
#pricing{
    width: 100%;
    height: 100vh;
    background:linear-gradient(0deg, rgba(0,0,0,0.6) 100%, rgba(0,0,0,0.6) 100%), url(../img/maria-stewart-p4tj0g-_aMM-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

#pricing h3{
    padding-top: 7rem;
    padding-bottom: 4rem;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
}

.pricing-list{
    width: 49%;
    background-color: #fff;
}

.pricing-list button{
    float: right;
    border: 0;
    width: 14rem;
    height: 3rem;
    color: #fff;
    background-color: #198754;
    font-size: 0.9rem;
    font-weight: 400;
}

.pricing-list .pricing-content{
    clear: both;
    padding: 3rem;
}

.pricing-list .pricing-content h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    border-bottom: 0.5px solid #dfdfdf;
    padding-bottom: 0.8rem;
}

.pricing-list .pricing-content h1 i{
    float: left;
}

.pricing-list .pricing-content h1 span{
    float: right;
}

.pricing-list .pricing-content h2{
    padding: 1rem 2rem 0.7rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing-list .pricing-content ul{
    padding: 0 3rem;
}

.pricing-list .pricing-content ul li{
    color: gray;
    font-size: 0.8rem;
    padding-bottom: 0.4rem;
}

.pricing-list .pricing-content p{
    padding: 0 2rem;
    font-size: 0.8rem;
    font-weight: 400;
    word-spacing: 0.1rem;
    color: gray;
}

@media (max-width:992px){
    #pricing{
        height: auto;
        padding-bottom: 2rem;
    }
    
    #pricing h3{
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }
    .pricing-list{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}

@media (max-width:767px){
    #pricing h3{
        font-size: 1.8rem;
    }

    .pricing-list button{
        width: 11rem;
        height: 2.8rem;
        font-size: 0.7rem;
    }

    .pricing-list .pricing-content h1{
        font-size: 1.5rem;
    }

    .pricing-list .pricing-content h2{
        font-size: 1rem;
    }

}

@media (max-width:560px){
    #pricing h3{
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }

    .pricing-list button{
        width: 9rem;
        height: 1.8rem;
        font-size: 0.6rem;
    }

    .pricing-list .pricing-content h1{
        font-size: 1rem;
    }

    .pricing-list .pricing-content h2{
        font-size: 0.8rem;
        padding: 0.8rem 1rem 0.5rem;
    }

    .pricing-list .pricing-content ul{
        padding: 0 2rem;
    }

    .pricing-list .pricing-content ul li{
        font-size: 0.6rem;
    }

    .pricing-list .pricing-content p{
        padding: 0 1rem;
        font-size: 0.6rem;
        word-spacing: 0.05rem;
    }
}